<!DOCTYPE html>
<html>
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="css/admin.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script>
        //web socket
        var webSocket;
        function conectar() {
            webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/mensajeria");
            //indicando los eventos:
            webSocket.onmessage = function(data){ recibirMsj(data); };
        }

        function recibirMsj(mensaje){
            console.log(mensaje);
            if(mensaje.data ===":-:actualizar:-:"){
                $("#listadoChats").load('/chats/disponibles/' +  location.hostname + ":" + location.port );
                return;
            }
            $("#buzon").append(mensaje.data);
        }


        //para reconexion automatica
        function verificarConexion(){
            if(webSocket.readyState === 3 || !webSocket){
                conectar();
            }
        }


        function abrirChat(id, username){
            $("#userName").val(username);
            $("#buzon").empty();
            webSocket.send("tomar:chat:" + id);
        }

        $(document).ready(function() {
            conectar();
            $("#listadoChats").load('/chats/disponibles/' +  location.hostname + ":" + location.port );

            //para enviar los mensajes
            $("#enviar").click(function () {
                if ($("#mensaje").val() === "") return;
                $("#buzon").append(
                    "           <div class=\"row message-body\">" +
                    "                    <div class=\"col-sm-12 message-main-sender\">" +
                    "                        <div class=\"sender\">" +
                    "                            <div class=\"message-text\">" +
                                                     $("#mensaje").val() +
                    "                            </div>" +
                    "                        </div>" +
                    "                    </div>" +
                    "                </div>"
                );
                webSocket.send("admin:chat:" + $("#mensaje").val());
                $("#mensaje").val("");
            });
        });

        setInterval(verificarConexion, 1000);
    </script>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container app">
    <div class="row app-one">
            <div class="col-sm-4 side" >
            <div class="side-one">
                 <div class="row heading">
                <div class="col-sm-3 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                    </div>
                </div>
                <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                    <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
                </div>
                <div class="col-sm-2 col-xs-2 heading-compose  pull-right">
                    <i class="fa fa-comments fa-2x  pull-right" aria-hidden="true"></i>
                </div>
                </div>
                <div id="listadoChats"></div>
            </div>
        </div>
        <div class="col-sm-8 conversation">
            <div class="row heading">
                <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                    <div class="heading-avatar-icon">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png">
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7 heading-name">
                    <a class="heading-name-meta"> <div id="userName"> </div>
                    </a>
                    <span class="heading-online">Online</span>
                </div>
                <div class="col-sm-1 col-xs-1  heading-dot pull-right">
                    <a href="/home">
                        <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>
                    </a>
                </div>
            </div>

            <div class="row message">
                <div id="buzon"> </div>
            </div>

            <div class="row reply">
                <div class="col-sm-1 col-xs-1 reply-emojis">
                    <i class="fa fa-smile-o fa-2x"></i>
                </div>
                <div class="col-sm-9 col-xs-9 reply-main">
                    <textarea class="form-control" rows="1" id="mensaje"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-recording">
                    <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send">
                    <button id="enviar" type="button" class="btn-success">Enviar </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<!-----------------------------------Scripts--------------------------------------->

<script>
    $(function(){
        $(".heading-compose").click(function() {
            $(".side-two").css({
                "left": "0"
            });
        });

        $(".newMessage-back").click(function() {
            $(".side-two").css({
                "left": "-100%"
            });
        });
    })

</script>


</html>