<head>
    <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <link href="css/chat.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


    <script>
        //web socket
        var webSocket;

        function conectar() {
            webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/mensajeria");
            //indicando los eventos:
            webSocket.onmessage = function(data){recibirMsj(data);};
        }

        function recibirMsj(mensaje){
            $("#mensajesChat").append(mensaje.data);
        }

        $(document).ready(function(){
            conectar();

            //para enviar los mensajes
            $("#enviar").click(function(){
                $("#mensajesChat").append("<div>Tu dices: " + $("#mensajeUsuario").val() + " </div> <br>");
                webSocket.send($("#mensajeUsuario").val());
                $("#mensajeUsuario").val("");
            });
        });


        //para reconexion automatica
        function verificarConexion(){
            if(webSocket.readyState === 3 || !webSocket){
                conectar();
            }
        }

        setInterval(verificarConexion, 5000);
    </script>

</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="round hollow text-center">
            <a href="#" id="addClass"><span class="glyphicon glyphicon-comment"></span> Abrir chat </a>
        </div>

        <hr>


    </div>
</div>
<div class="popup-box chat-popup" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-left pull-left"><img src="https://cdn1.iconfinder.com/data/icons/managers-15/494/Untitled-32-512.png" alt="iamgurdeeposahan"> Usuario

            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i class="glyphicon glyphicon-off"></i></button>

        </div>
        <div class="popup-head-right pull-right">
           <!-- <div class="btn-group">
               &lt;!&ndash; <button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">
                    <i class="glyphicon glyphicon-cog"></i> </button>&ndash;&gt;
              
            </div>-->
        </div>
    </div>
    <div class="popup-messages">
        <div class="direct-chat-messages">


           <div class="chat-box-single-line">
                <abbr class="timestamp">Julio, 2018</abbr>
            </div>


            <!-- Message. Default to the left -->
            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Usuario</span>
                </div>
                <!-- /.direct-chat-info -->
                <img alt="message user image" src="https://cdn1.iconfinder.com/data/icons/managers-15/494/Untitled-32-512.png" class="direct-chat-img"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                   Hola!!
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                </div>
                <div class="direct-chat-info clearfix">
		<span class="direct-chat-img-reply-small pull-left"></span>
                    <span class="direct-chat-reply-name">Usuario</span>
                </div>
                <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->
            <div class="chat-box-single-line">
                <abbr class="timestamp">Julio, 2018</abbr>
            </div>


            <!-- Message. Default to the left -->
            <div class="direct-chat-msg doted-border">
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-name pull-left">Usuario</span>
                </div>
                <!-- /.direct-chat-info -->
                <img alt="iamgurdeeposahan" src="https://cdn1.iconfinder.com/data/icons/managers-15/494/Untitled-32-512.png" class="direct-chat-img"><!-- /.direct-chat-img -->
                <div class="direct-chat-text">
                    Hey!
                </div>
                <div class="direct-chat-info clearfix">
                    <span class="direct-chat-timestamp pull-right">3.36 PM</span>
                </div>

                <!-- /.direct-chat-text -->
            </div>
            <!-- /.direct-chat-msg -->

        </div>
    </div>
    <div class="popup-messages-footer">
	     
         <textarea id="mensajeUsuario" type="text"  placeholder="Escriba su mensaje aqui..." rows="10" cols="40" name="mensajeUsuario"></textarea>
	      <button id="enviar" type="button" class="btn-success">Enviar </button>
        <div class="btn-footer">
            
        </div>
    </div>
</div>

</body>

<!--
<div class="card card-primary" >
    <h5>Mensajes</h5>
    <div id="mensajesChat"></div>
    <input id="mensajeUsuario" type="text" name="mensajeUsuario" placeholder="Escriba su mensaje aqui..">
    <button id="enviar" type="button" class="btn-success">Enviar </button>
</div>-->

<script>
    (function($){
        $(window).on("load",function(){
            $(".msg_container_base").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script>
    $(function(){
        $("#addClass").click(function () {
            $('#qnimate').addClass('popup-box-on');
        });

        $("#removeClass").click(function () {
            $('#qnimate').removeClass('popup-box-on');
        });
    })
</script>
</html>







