<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        //web socket
        var webSocket;

        function conectar() {
            webSocket = new WebSocket("ws://" + location.hostname + ":" + location.port + "/mensajeria");
            //indicando los eventos:
            webSocket.onmessage = function(data){recibirMsj(data);};
        }

        function recibirMsj(mensaje){
            $("#mensajesChat").append(mensaje.data);
        }

        $(document).ready(function(){
            conectar();

            //para enviar los mensajes
            $("#enviar").click(function(){
                $("#mensajesChat").append("<div>Tu dices: " + $("#mensajeUsuario").val() + " </div> <br>");
                webSocket.send($("#mensajeUsuario").val());
                $("#mensajeUsuario").val("");
            });
        });


        //para reconexion automatica
        function verificarConexion(){
            if(webSocket.readyState === 3 || !webSocket){
                conectar();
            }
        }

        setInterval(verificarConexion, 5000);


    </script>

</head>



<br/>

<div class="card card-primary" >
    <h5>Mensajes</h5>
    <div id="mensajesChat"></div>
    <br>
    <br>
    <input id="mensajeUsuario" type="text" name="mensajeUsuario" placeholder="Escriba su mensaje aqui..">
    <button id="enviar" type="button" class="btn-success">Enviar </button>

</div>
<script>
    (function($){
        $(window).on("load",function(){
            $(".msg_container_base").mCustomScrollbar();
        });
    })(jQuery);
</script>

</html>

