
<head>
    <meta charset="UTF-8">
    <link href="css/admin.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<div  th:fragment="chats" xmlns:th="http://www.w3.org/1999/xhtml">
        <div class="row sideBar">
            <div  th:each="chat:${listaChats}">
                <div>
                <div class="row sideBar-body">
                    <div class="col-sm-3 col-xs-3 sideBar-avatar">
                        <div class="avatar-icon">
                            <img src="https://bootdey.com/img/Content/avatar/avatar4.png">
                        </div>
                    </div>
                    <div class="col-sm-9 col-xs-9 sideBar-main">
                        <div class="row">
                            <div class="col-sm-8 col-xs-8 sideBar-name">
                  <span class="name-meta"  th:text="${chat.username}">John Doe
                </span>
                            </div>
                            <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                      <span class="time-meta pull-right"  th:text="${chat.fecha}">18:16
                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>

<script>
    function abrirChat(id){
        console.log("abriendo chat?");
    }
    $(document).ready(function(){
        //$("#listadoChats").load('/chats/disponibles/' +  location.hostname + ":" + location.port );
    });
</script>