<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Web</title>
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Bienvenido al Chat</div>
        <div class="card-body">
            <form  >
                <div class="form-group">
                    <label for="exampleInputName">Nombre de usuario</label>
                    <input class="form-control" id="exampleInputName" name="user" type="text" aria-describedby="nameHelp" placeholder="Usuario">
                </div>
                <div class="text-center">
                    <button  href="#" id="btn_1" class="btn btn-primary btn-block" type="submit" > Iniciar chat </button>
                </div>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/home">Volver</a>
            </div>
        </div>
    </div>
</div>






<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>


<script>
    (function($){
        $(window).on("load",function(){
            $(".msg_container_base").mCustomScrollbar();
        });
    })(jQuery);
</script>

<script>
    $("#btn_1").click(function() {
        alert("Btn 1 Clicked");
    });
</script>


</html>
